<section class="block block--dark footer">
  <div class="container footer__content grid grid--1x2">
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ui class="list">
          <li><a href="#">Websites Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ui>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ui class="list">
          <li><a href="#">Websites Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ui>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ui class="list">
          <li><a href="#">Websites Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ui>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ui class="list">
          <li><a href="#">Websites Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ui>
      </div>
    </div>

    <div class="footer__logo">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">&copy;Copyright 2021 Christian Romero</p>
    </div>
  </div>
</section>
